@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
body{
/* Color vairables*/
--BGCOLOR: rgb(31, 41, 55);
--COLORTEXT :#55f991 ;
--PASSWORDPARA: gainsboro;
--NORMALTEXT:white;
}

body.dark-mode {
--BGCOLOR: gainsboro;
--COLORTEXT :white;
--PASSWORDPARA: rgb(31, 41, 55);
--NORMALTEXT:#55f991 ;
}

*{
    padding: 0;
    margin: 0;
    font-family: Nunito;
    background-color:var(--BGCOLOR);
    color: var(--NORMALTEXT);
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#theme-btn{
    font-size: 2vw;
    width: 10vw;
    height: 10vh;
    /* padding: ; */
    margin: 0 2vw 0 0 ;
    color:var(--COLORTEXT);
    border: solid var(--COLORTEXT) 2.5px;
    background-color:var(--PASSWORDPARA);
    border-radius: 5vw;
}

.topcontent{
    /* display: flex; */
    /* background-color: aquamarine; */
    width: fit-content;
    margin: 1vh 0 0 2vw;
}

h1{
    display: flex;
    flex-direction: column;
    font-size: 10vmin;
    /* height: 20vh; */
    /* width:50vw; */
    min-width:fit-content;
    min-height:min-content;
    /* background-color: aqua; */
    /* margin:2vmin; */
    line-height:1.2;
    letter-spacing: 1.9;
    
}

h1 span{
    color: var(--COLORTEXT);
    white-space: nowrap; 
}

.sub{
    font-size: 5vmin;
    margin:1vh 0vh 5vh 0vh ;
}

form{
    font-size: 4vmin;
    margin-top: 5vh;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10vw;
}


.result{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
}

.passwordAndbtn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:1vw;
}

.password{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:10vh 0;
    background-color: var(--PASSWORDPARA);
    width: 30vw;
    height: 10vh;
    border-radius: 20vmin;
    border: none;
    text-align: center;
    color: var(--BGCOLOR);
}

.generate{
    border: none;
    border-radius: 10vw;
    background-color:var(--COLORTEXT);
    min-width: 20vw;
    font-size: inherit;
}

.length{
    white-space: nowrap;
}
.specialChar{
    white-space: nowrap;
}

#PassLength{
    margin-left:1vw;
    border: none;
    background-color:var(--COLORTEXT);
    /* padding: .75vw; */
    border-radius: .5vw;
    font-size: 4vmin;
}

.copybtn{
    height: 10vh;
    border: none;
}

.copybtn img:hover{
    cursor:grab;
}



